<html>
 <head>
  <title>
  </title>
  <style type="text/css">
   .wrapper {
    	margin: 0 auto;
	}

	#block1
	{
	    margin: 10px 20px;
	    padding: 20px;
	    width: 400px;
	    float: left;
	}
	#block2
	{
	    margin: 10px 20px;
	    padding: 20px;
	    width: 400px;
	    margin-left:400px;
	}
	mark.red {
	    color:#ff0000;
	    background: none;
	}

	mark.blue {
	    color:#0000A0;
	    background: none;
	}
  </style>
 </head>
 <body>
  <div class="wrapper">
   <div class="block" id="block1">
    
   </div>
   <div class="block" id="block2">
    
   </div>
  </div>
 </body>
</html>
